.vt-ButtonVoting {
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 42px;
    margin-right: 20px;
    min-width: 55px;
    outline: none;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.15s background-color linear;

    &#{ & }-sm {
        min-width: 55px;
    }

    &#{ & }-md {
        min-width: 78px;
    }

    @media (min-width: $breakpoint-xl) {
        &#{ & }-left {
            margin-left: 0;
            margin-right: 20px;
        }

        &#{ & }-right {
            margin-left: 20px;
            margin-right: 0;
            order: 2;
        }
    }

    &#{ & }-negative#{ & }-core {
        background-color: $voting-negative-poa;
        box-shadow: 0 5px 10px 0 rgba($voting-negative-poa, 0.3);

        &:hover {
            background-color: darken($voting-negative-poa, 10%);
        }
    }

    &#{ & }-neutral#{ & }-core {
        background-color: $voting-neutral-poa;
        box-shadow: 0 5px 10px 0 rgba($voting-neutral-poa, 0.3);

        &:hover {
            background-color: darken($voting-neutral-poa, 10%);
        }
    }

    &#{ & }-positive#{ & }-core {
        background-color: $voting-positive-poa;
        box-shadow: 0 5px 10px 0 rgba($voting-positive-poa, 0.3);

        &:hover {
            background-color: darken($voting-positive-poa, 10%);
        }
    }

    &#{ & }-negative#{ & }-test {
        background-color: $voting-negative-test;
        box-shadow: 0 5px 10px 0 rgba($voting-negative-test, 0.3);

        &:hover {
            background-color: darken($voting-negative-test, 10%);
        }
    }

    &#{ & }-neutral#{ & }-test {
        background-color: $voting-neutral-test;
        box-shadow: 0 5px 10px 0 rgba($voting-neutral-test, 0.3);

        &:hover {
            background-color: darken($voting-neutral-test, 10%);
        }
    }

    &#{ & }-positive#{ & }-test {
        background-color: $voting-positive-test;
        box-shadow: 0 5px 10px 0 rgba($voting-positive-test, 0.3);

        &:hover {
            background-color: darken($voting-positive-test, 10%);
        }
    }
}
