@mixin path-colors($parent-class: '', $fill-core: #fff, $fill-test: #fff) {

    #{ $parent-class } &#{ & }-core {
        fill: $fill-core;
    }

    #{ $parent-class } &#{ & }-test {
        fill: $fill-test;
    }

}

.sw-IconAdd {
    .sw-ButtonNewBallot & {
        margin-left: 10px;
    }

    .sw-ButtonAddBallot & {
        margin-left: 10px;
    }
}

.sw-IconAdd_Path {

    @include path-colors('.sw-ButtonNewBallot', #fff, $test-cyan);

    @include path-colors('.sw-ButtonAddBallot');

}
