.hd-IconMobileMenu {
    display: block;
    order: 3;

    @media (min-width: $breakpoint-md) {
        display: none;
    }
}

.hd-IconMobileMenu_Path {
    &#{ & }-core {
        fill: $poa-menu-icon-color;
    }

    &#{ & }-test {
        fill: $test-menu-icon-color;
    }
}
