.hd-MobileMenuLinks {
    background-color: $poa-purple-darker;
    padding: 10px;
    width: 100%;

    &#{ & }-core {
        background-color: $poa-purple-darker;
    }

    &#{ & }-test {
        background-color: $test-cyan-darker;
    }
}
